{% extends 'base.html' %}

{% block content %}
<h1>Shopping cart</h1>
<p>This is template</p>
{% for instance in object.cart.values %}
    <p>{{ instance.product_id }} - {{instance.name}}</p>
    <p><a href="{% url 'item_clear' id=instance.product_id %}">Clear item</a></p>
    <button type="button"><a href="{% url 'item_decrement' id=instance.product_id %}">-</a></button>
    {{ instance.quantity }}
    <button type="button"><a href="{% url 'item_increment' id=instance.product_id %}">+</a></button>
{% endfor %}

<p><a href="{% url 'cart_clear' %}">Clear Cart</a></p>
<a href="{% url 'cart_buy' %}">Buy</a>

{% endblock %}